.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.hero-img{
    width: 250px;
    height: 250px;
    margin: 24px auto;
    border: 1px rgb(52, 167, 255) solid;
    border-radius: 50%;
    background-image: url('/src/images/labrador.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.description-title-hero{
    color: rgb(255, 255, 254);
}
.description-paragraph-hero{
    color: rgb(155, 164, 173);
}

/* Button */
.btn-style_01{
    background-color: rgb(52, 167, 255);
    color: rgb(20, 20, 20);
    margin-bottom: 60px;
}